{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4 mb-2">Delete Booking</h1>
        <p class="text-center">Are you sure that you want to delete your booking?</p>
    </div>
    <div class="row text-center text-light bg-secondary bg-gradient mx-2 p-3">
        <p>{{ booking.user }}</p>
        <p>{{ booking.service_type }}</p>
        <p>{{ booking.day }}</p>
        <p>{{ booking.time }}</p>
    </div>
    <div class="row mt-3">
        <div class="form-group">
            <form method="POST">
                {% csrf_token %}
                <p class="text-center">
                    <button type="submit" class="btn btn-access">Delete</button>
                </p>
            </form>
            <p class="text-center">
                <a href="{% url 'mybookings' %}"><button type="submit" class="btn btn-dark">Back</button></a>
            </p>
        </div>
    </div>
</div>
</div>
{% endblock %}