{% extends "base.html" %}
{% block content %}

<div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">My bookings</h1>
</div>
{% if user.is_authenticated %}
<div class="container">
<table class="table">
    {% for booking in bookings %}
        <tr>
            {% if booking.approved %}
                <td>{{ booking.user }}</td>
                <td>{{ booking.service_type }}</td>
                <td>{{ booking.day }}</td>
                <td>{{ booking.time }}</td>
                <td>
                    <a href="{% url 'edit_booking' booking.pk %}"><button class="btn btn-dark">Edit</button></a>                
                </td>
                <td>
                    <a href="{% url 'delete_booking' booking.pk %}"><button class="btn btn-access">Delete</button></a>
                </td>
            {% else %}  
            <tr><td class="table-warning">Your booking is being processed. We will soon get in touch with you!</td></tr>           
            {% endif %}            
        </tr>
    {% empty %}
    <tr><td class="table-danger">You have no bookings</td></tr>
    {% endfor %}
</table>
</div>
{% else %}
<p>In order to see your booking, please <a class="link" href="{% url 'account_login' %}">log in</a> first.</p>
{% endif %}
{% endblock%}