{% extends "base.html" %}
{% load static %}
{% block content %}
<!-- Hero image -->
<header>
    <div class="bg-dark bg-image hero" style="background-image: url('{% static 'img/servicehero.jpg' %}')">
        <div class="mask" style="background-color: rgba(0, 0, 0, 0.5);min-height: 350px;">
            <div class="justify-content-center">
                <div class="text-center pt-5">
                    <h1 class="display-6 text-white mb-2 px-2">Expert Technicians</h1>
                    <p class="display-6 text-white py-4 px-3">Competitive Prices</p>
                    <div class="text-center">
                        <a class="btn btn-lg mt-4 btn-book" href="{% url 'booking' %}">Book Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Services-->
<section class="page-section bg-dark">
    <div class="container">
        <div class="row text-white">
            <h2 class="section-heading text-center text-capitalize">Our Services</h2>
        </div>
        <div class="row text-white align-items-center">
            <div class="col-lg-7 order-lg-1 my-auto lh-lg">
                <p>We offer a full range of garage services to vehicle owners in London. Our professionals know how to
                    handle a wide range of car repairs. Whether you drive a passenger car or medium sized truck or SUV,
                    our mechanics strive to ensure that your vehicle will be performing at its best before leaving our
                    car shop. We can help you with everything from an oil change to an engine change.</p>
            </div>
            <div class="col-lg-5 order-lg-2 text-center">
                <img src="{% static 'img/services1.jpg' %}" alt="car service" class="img-fluid">
            </div>
        </div>
        <div class="row text-white text-uppercase mt-5">
            <h4 class="section-heading text-lg-start">We help you with</h4>
        </div>
        <div class="row lead text-capitalize text-white gx-5">
            <div class="col-lg-6">
                <ul class="list-unstyled lh-lg">
                    <li><i class="fa fa-check fa-lg"></i> Vehicle diagnostics</li>
                    <li><i class="fa fa-check fa-lg"></i> Electrical systems repair</li>
                    <li><i class="fa fa-check fa-lg"></i> Starting and Charging System repairs</li>
                    <li><i class="fa fa-check fa-lg"></i> Basic Service (oil and oil filter change)</li>
                    <li><i class="fa fa-check fa-lg"></i> Big Service (change of: oil, all filters, brake fluid,
                        coolant fluid)</li>
                </ul>
            </div>
            <div class="col-lg-6">
                <ul class="list-unstyled lh-lg">
                    <li><i class="fa fa-check fa-lg"></i> Clutch Replacement</li>
                    <li><i class="fa fa-check fa-lg"></i> Cambelt Replacement</li>
                    <li><i class="fa fa-check fa-lg"></i> Replacement of light bulbs</li>
                    <li><i class="fa fa-check fa-lg"></i> AC Service</li>
                    <li><i class="fa fa-check fa-lg"></i> Tire change and Repair</li>

                </ul>
            </div>
        </div>
    </div>
</section>

{%endblock%}